.hidden {
    display:none !important;
}

.show {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.sidenav {
    background-color:#2c3e50 !important;
    color: #f5f5f5;
    padding-right:0px !important;
}

#contacts {
    height: 100%;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

#contacts ul li.contact {
    position: relative;
    font-size: 0.9em;
    cursor: pointer;
    border-bottom: 1px solid #435f7a;
}

.sidenav li.contact {
    position: relative;
    font-size: 0.9em;
    cursor: pointer;
    border-bottom: 1px solid #435f7a;
    padding-left: 15px;
    text-transform:capitalize;
}

.sidenav li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}

#contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

#contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}

#contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

#contacts ul li.contact .wrap .meta {
    padding: 15px 0 15px 0;
    text-transform:capitalize;
}

.hidden-meta {
    position: absolute;
    top: 15px;
    width: 110%;
    height: 100%;
    opacity: 0;
    padding: 15px 0 15px 0;
    margin: -15px;
}

#emoji-div {
    height: 0px;
    position: absolute;
    top: -400px;
    left: 25px;
}

#emoji-pick {
    padding: 5px 20px 10px 10px;
    position: unset !important;
    background-color: #59a9d2;
    height: calc(100% - 2px);
}

#contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
    /* text-transform: uppercase; */
}

#contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

#bottom-bar {
    position: relative;
    bottom: 0px;
}

#bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

#bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

#bottom-bar button {
    float: left;
    border: none;
    width: 100%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

#contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}

#sidepanel {
    height:inherit;
    background: #2c3e50;
    color: #f5f5f5;
}

.date-span {
    background-color: #aadaff;
    border-radius: 15px;
    padding: 10px;
}

.date-li {
    text-align:center;
}

.message-time {
    color: #2c3e50;
    font-size: 0.7em;
    float: right;
}

img.responsive-img, video.responsive-video {
    max-height: 55px;
}

.msgdms {
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-top {
    max-width: 30%;
    margin-top: 5px;
    height: 59px;
}

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

nav {
    background-color: #C62F32 !important;
}

.title {
    display: flex;
    margin: auto;
}

#chatname {
    text-transform:capitalize;
}

.chat-body {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    /* height: 65vh; */
    overflow-y: auto;
}

.chat-input {
    text-align: right;
    height: 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.left-message {
    float: left;
}

.right-message {
    float: right;
}

ul {
    list-style: none;
    padding: 0 9px;
    margin: 0;
}

ul li {
    position: relative;
    overflow: hidden;
    padding-left: 5px;
}

/**
 * Disabled state
 */

button.disabled, button[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

ul li.sent p {
    background: #f5f5f5;
}

ul li.replies p {
    background: #59a9d2;
    color: #f5f5f5;
    float: right;
}

ul li p {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 130%;
    word-break: break-word;
    max-width: 50%;
    min-width: 15%;
    margin-bottom: 5px;
    margin-top: 5px;
}

ul li.sent img {
    float: left;
    margin: 15px 8px 0 0;
}

ul li.replies img {
    float: right;
    margin: 15px 0 0 8px;
}

ul li img {
    width: 25px;
    border-radius: 50%;
}

.card {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background: #E6EAEA !important;
    box-shadow: none !important;
}

.card .card-content {
    padding: 0px !important;
    /* min-height: 80vh; */
}

#frame {
    margin-top: 5px !important;
    /* height: 90vh; */
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
    margin: auto;
    border: 1px solid #2c3e50;
}

.message-input {
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: white;
}

.message-input .wrap {
    display: flex;
    height: 100%;
}

.message-input .wrap button {
    border: none;
    width: 80px;
    cursor: pointer;
    background: #59a9d2;
    color: #f5f5f5;
    height: 100% !important;
}

.input-message {
    width: calc(100% -80px) !important;
    height: calc(100% - 2px) !important;
    margin: 0px;
    padding-left: 5px !important;
}

.contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}

.contact-profile {
    width: 100%;
    /* height: 10%; */
    min-height: 64px;
    line-height: 60px;
    background: #f5f5f5;
    /* display: inline-block; */
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contact-profile .social-media {
    float: right;
    margin-right: 15px;
}

.social {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.footer-logo {
    width: 85%;
    text-align: right;
    margin-top: 30px;
}

.padding-0 {
    padding: 0px !important;
}

body {
    background: white;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .img-top {
        height: 52px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .img-top {
        height: 52px;
    }
}

@media (max-width: 480px) and (orientation: landscape) {
    .card .card-content {
        padding: 0px !important;
        /* min-height: 64vh; */
    }
    .chat-body {
        /* height: 44vh; */
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .card .card-content {
        padding: 0px !important;
        /* min-height: 68vh; */
    }
    .chat-body {
        /* height: 47vh; */
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .card .card-content {
        padding: 0px !important;
        /* min-height: 68vh; */
    }
    .chat-body {
        /* height: 47vh; */
    }
}

@media only screen and (min-width: 993px) {
    .sidenav-trigger {
        display: none;
    }

    .sidepanel-desktop {
        display:inherit;
    }

    
}
@media only screen and (max-width: 992px) {
    .sidenav-trigger i {
        height: 64px;
        line-height: 64px;
    }

    .sidepanel-desktop {
        display:none;
    }

    #emoji-pick {
        display:none;
    }
}
