.title {
    display: flex;
    width: 75%;
    margin: auto;
    max-width: 1000px;
}

.chat-body {
    /* width: 75%; */
    margin: auto;
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
}

.chat-input {
    /* width: 85%;
    margin: auto;*/
    text-align: right;
}

.left-message {
    float: left;
}

.right-message {
    float: right;
}

ul {
    list-style: none;
    padding: 0 9px;
    margin: 0;
}

ul li {
    position: relative;
    overflow: hidden;
    padding-left: 5px;
}

.speech-bubble {
    margin: 5px;
    margin-right: 15px;
    padding: 5px 15px 15px 5px;
    min-width: 150px;
}

.speech-bubble-left {
    position: relative;
    border: 1px solid #00aabb;
    border-radius: .4em;
}

.speech-bubble-left:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-left-color: #00aabb;
    border-right: 0;
    border-bottom: 0;
    margin-top: -7px;
    margin-right: -14px;
}

.speech-bubble-right {
    position: relative;
    /* background: #fb2d4c; */
    border-radius: .4em;
    border: 1px solid #fb2d4c;
}

.speech-bubble-right:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-right-color: #fb2d4c;
    border-left: 0;
    border-bottom: 0;
    margin-top: -7px;
    margin-left: -14px;
}

ul li.sent p {
    background: #f5f5f5;
}

ul li.replies p {
    background: #59a9d2;
    color: #f5f5f5;
    float: right;
}

ul li p {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 130%;
    word-break: break-all;
    max-width: 50%;
    min-width: 15%;
    margin-bottom: 5px;
    margin-top: 5px;
}

ul li.sent img {
    float: left;
    margin: 15px 8px 0 0;
}

ul li.replies img {
    float: right;
    margin: 15px 0 0 8px;
}

ul li img {
    width: 25px;
    border-radius: 50%;
}

#frame {
    width: 75%;
    min-width: 360px;
    max-width: 1000px;
    /* height: 92vh; */
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
    margin: auto;
    border: 1px solid #2c3e50;
}

.message-input {
    height: 40px;
    width: 100%;
    z-index: 99;
}

.message-input .wrap {
    display: flex;
}

.message-input .wrap button {
    /* float: right; */
    border: none;
    width: 6%;
    padding: 12px 0;
    cursor: pointer;
    background: #59a9d2;
    color: #f5f5f5;
}

.input-message {
    width: 94%;
    height: 35px;
}

.contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}

.contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contact-profile .social-media {
    float: right;
    margin-right: 15px;
}
.social {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.footer-logo {
    width:85%;
    text-align:right;
    margin-top:30px;
}

body {
    background: white;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}